---
layout: default
---

{% assign assets_base_url = site.url %}
{% if site.cdn.jsdelivr.enabled %}
{% assign assets_base_url = "https://fastly.jsdelivr.net/gh/" | append: site.repository | append: '@master' %}
{% endif %}

<section class="container article-layout">
  <div class="article-page-header">
    <h1 class="article-headline">{{ page.title }}</h1>
    {% if page.subtitle %}
    <div class="article-subtitle">
      {{ page.subtitle }}
    </div>
    {% endif %}
  </div>

  <div class="columns article-columns">
    <div class="column two-thirds article-main-column">
      <article class="article-content markdown-body">
        {{ content }}
      </article>
      <div class="share">
        {% include sns-share.html %}
      </div>
      <div class="comment">
        {% include comments.html %}
      </div>
    </div>
    <div class="column one-third article-sidebar-column">
      {% include sidebar-qrcode.html %}
      {% include sidebar-search.html %}
      {% include sidebar-categories-cloud.html %}
      {% include sidebar-ad.html %}
      {% include sidebar-popular-repo.html %}
    </div>
  </div>
</section>
